.terminal-window {
	overflow-y: scroll;
	display: grid;
	grid-template-rows: 25px 35px 30px;
	border-radius: 2%;
	background: black;
}

.bar {
	grid-row: 1;
	background-color: #505050;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	position: sticky;
	top: 0;
	height: 1.8rem;
}

.icon-exit {
	margin-left: 0.7rem;
}

.icon-minimize {
	position: fixed;
	left: 2.1rem;
}

.login {
	background: black;
	margin: 1rem 0 0 0.7rem;
	grid-row: 2;
	font-size: 1rem;
}

.user-container {
	display: flex;
	flex-flow: column;
	grid-row: 3;
}
